:root {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  background-color: #e1d5b5;
  color: #4a3021;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
